<!doctype html>
<html>
  <head>
      <meta charset="utf-8"/>
      <title>{{title}}</title>
      <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen" charset="utf-8">
      <script type="text/javascript" src="/js/lib/zepto.min.js"></script>
      {{#when view 'edit'}}
      <link rel="stylesheet" href="/css/editor.css" type="text/css" media="screen" charset="utf-8">
      <script type="text/javascript" src="/js/lib/ace/ace.min.js"></script>
      <script type="text/javascript" src="/js/lib/marked.min.js"></script>
      {{/when}}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <nav class="main-nav">
          {{#each nav ~}}
          <a href="{{url}}">
            {{~#if icon}}
              <span class="typcn typcn-{{icon}}"></span>
            {{~^~}}
              {{~text}}
            {{~/if~}}
          </a>
          {{~/each}}
        </nav>
      </header>
      {{{body}}}
      <footer>Powered by <a href="http://scrollengine.github.io/site">Scroll</a>.</footer>
    </div>
  </body>
</html>
