<div class="toolbar">
  <a href="{{#if scroll.type}}{{#when scroll.type 'post'}}/post{{/when}}{{/if}}/{{scroll.slug}}"
    target="_blank"
    id="open"
    title="full preview">
    <span class="typcn typcn-eye-outline"></span>
  </a>
  <a href="#" class="{{#if scroll.id}}good{{else}}warning{{/if}}" id="save" title="save">
    <span class="typcn typcn-upload-outline"></span>
  </a>
  <a href="#" id="delete" title="delete"><span class="typcn typcn-delete-outline"></span></a>
</div>
<div class="workarea">
  <div class="container">
    <input type="text" name="title" placeholder="title"{{#if scroll.title}} value="{{scroll.title}}"{{/if}}/>
    <div class="editor">
      <div id="raw" class="raw">{{#if scroll.raw}}{{scroll.raw}}{{/if}}</div>
      <div id="preview" class="preview">{{#if scroll.body}}{{{scroll.body}}}{{/if}}</div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/js/editor.js"></script>
<script type="text/javascript">
  var editor = new Editor({{{json scroll}}});
</script>
